body{
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: #fff;
}
.GameMain-Screen{
  width: 400px;
  text-align: center;
  margin: 40px;
}
